src/main/resources/xsd/edt/MDClasses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="MetaDataObject" targetNamespace="http://g5.1c.ru/v8/dt/metadata/mdclass"
           xmlns="http://g5.1c.ru/v8/dt/metadata/mdclass"

           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"
           attributeFormDefault="qualified" elementFormDefault="qualified">

<!--    Метаданные начало-->

    <xs:element name="Configuration" type="mdclass:configuration"
                xmlns:mdclass="http://g5.1c.ru/v8/dt/metadata/mdclass"/>

<!--    Метаданные конец-->

    <xs:complexType name="configuration">
        <xs:complexContent>
            <xs:extension base="MDObjectBase">
                <xs:sequence>
                    <xs:element name="configurationExtensionCompatibilityMode" form="unqualified" type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="defaultRunMode" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="usePurposes" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="scriptVariant" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="defaultLanguage" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="dataLockControlMode" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="objectAutonumerationMode" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="modalityUseMode" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="synchronousPlatformExtensionAndAddInCallUseMode" form="unqualified"
                                type="xs:string"
                                minOccurs="0"/>
                    <xs:element name="compatibilityMode" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="subsystems" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="styleItems" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="commonPictures" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="sessionParameters" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="roles" form="unqualified" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="commonTemplates" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="filterCriteria" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="commonModules" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="commonAttributes" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="exchangePlans" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="xDTOPackages" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="webServices" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="httpServices" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="eventSubscriptions" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="scheduledJobs" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="settingsStorages" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="functionalOptions" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="definedTypes" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="commonCommands" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="commandGroups" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="constants" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="commonForms" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="catalogs" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="documents" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="documentNumerators" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="sequences" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="documentJournals" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="enums" form="unqualified" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="reports" form="unqualified" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="dataProcessors" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="accumulationRegisters" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="chartsOfCharacteristicTypes" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="chartsOfAccounts" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="accountingRegisters" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="chartsOfCalculationTypes" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="calculationRegisters" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="businessProcesses" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="tasks" form="unqualified" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="informationRegisters" form="unqualified" type="xs:string" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="containedObjects" form="unqualified" type="ContainedObject" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="languages" form="unqualified" type="language" minOccurs="1"
                                maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

<!--    Общие объекты начало-->

    <xs:complexType name="ContainedObject">
        <xs:attribute name="classId" form="unqualified" type="xs:string"/>
        <xs:attribute name="objectId" form="unqualified" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="SynonymType">
        <xs:sequence>
            <xs:element name="key" form="unqualified" type="xs:string" minOccurs="0"/>
            <xs:element name="value" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MDObjectBase">
        <xs:sequence>
            <xs:element name="name" form="unqualified" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="uuid" form="unqualified" type="xs:string"/>
    </xs:complexType>

<!--    Общие объекты конец -->
<!--    Объекты метаданных начало-->

    <xs:complexType name="language">
        <xs:complexContent>
            <xs:extension base="MDObjectBase">
                <xs:sequence>
                    <xs:element name="languageCode" form="unqualified" type="xs:string" minOccurs="0"/>
                    <xs:element name="synonym" form="unqualified" type="SynonymType" minOccurs="0"
                                maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <!--    Объекты метаданных конец-->
</xs:schema>