src/test/resources/metadata/original/Documents/ПоступлениеТоваровУслуг0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:lf="http://v8.1c.ru/8.2/managed-application/logform" xmlns:xen="http://v8.1c.ru/8.3/xcf/enums" xmlns:v8="http://v8.1c.ru/8.1/data/core" xmlns:ent="http://v8.1c.ru/8.1/data/enterprise" xmlns:sys="http://v8.1c.ru/8.1/data/ui/fonts/system" xmlns:style="http://v8.1c.ru/8.1/data/ui/style" xmlns:cmi="http://v8.1c.ru/8.2/managed-application/cmi" xmlns:xr="http://v8.1c.ru/8.3/xcf/readable" xmlns:cfg="http://v8.1c.ru/8.1/data/enterprise/current-config" xmlns:web="http://v8.1c.ru/8.1/data/ui/colors/web" xmlns:win="http://v8.1c.ru/8.1/data/ui/colors/windows" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xpr="http://v8.1c.ru/8.3/xcf/predef" xmlns:v8ui="http://v8.1c.ru/8.1/data/ui" xmlns:app="http://v8.1c.ru/8.2/managed-application/core" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://v8.1c.ru/8.3/MDClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="file:///F:/DATA/Develop/Project/Sonar/metadata/src/Documents/%D0%9F%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D0%BE%D0%B2%D0%A3%D1%81%D0%BB%D1%83%D0%B31.xsd" namespace="http://v8.1c.ru/8.3/xcf/readable" />
  <xs:import schemaLocation="file:///F:/DATA/Develop/Project/Sonar/metadata/src/Documents/%D0%9F%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D0%BE%D0%B2%D0%A3%D1%81%D0%BB%D1%83%D0%B32.xsd" namespace="http://v8.1c.ru/8.1/data/core" />
  <xs:import schemaLocation="file:///F:/DATA/Develop/Project/Sonar/metadata/src/Documents/%D0%9F%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D0%BE%D0%B2%D0%A3%D1%81%D0%BB%D1%83%D0%B33.xsd" namespace="http://v8.1c.ru/8.2/managed-application/core" />
  <xs:element name="MetaDataObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Document">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="InternalInfo">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:GeneratedType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="Properties">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="Name" type="xs:string" />
                    <xs:element minOccurs="0" name="Synonym">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" ref="v8:item" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Comment" />
                    <xs:element minOccurs="0" name="UseStandardCommands" type="xs:boolean" />
                    <xs:element minOccurs="0" name="Numerator" />
                    <xs:element minOccurs="0" name="NumberType" type="xs:string" />
                    <xs:element minOccurs="0" name="NumberLength" type="xs:unsignedByte" />
                    <xs:element minOccurs="0" name="NumberAllowedLength" type="xs:string" />
                    <xs:element minOccurs="0" name="NumberPeriodicity" type="xs:string" />
                    <xs:element minOccurs="0" name="CheckUnique" type="xs:boolean" />
                    <xs:element minOccurs="0" name="Autonumbering" type="xs:boolean" />
                    <xs:element minOccurs="0" name="StandardAttributes">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:StandardAttribute" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="Characteristics">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:Characteristic" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="BasedOn">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:Item" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="InputByString">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" ref="xr:Field" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="CreateOnInput" type="xs:string" />
                    <xs:element minOccurs="0" name="SearchStringModeOnInputByString" type="xs:string" />
                    <xs:element minOccurs="0" name="FullTextSearchOnInputByString" type="xs:string" />
                    <xs:element minOccurs="0" name="ChoiceDataGetModeOnInputByString" type="xs:string" />
                    <xs:element minOccurs="0" name="DefaultObjectForm" type="xs:string" />
                    <xs:element minOccurs="0" name="DefaultListForm" type="xs:string" />
                    <xs:element minOccurs="0" name="DefaultChoiceForm" type="xs:string" />
                    <xs:element minOccurs="0" name="AuxiliaryObjectForm" />
                    <xs:element minOccurs="0" name="AuxiliaryListForm" />
                    <xs:element minOccurs="0" name="AuxiliaryChoiceForm" />
                    <xs:element minOccurs="0" name="Posting" type="xs:string" />
                    <xs:element minOccurs="0" name="RealTimePosting" type="xs:string" />
                    <xs:element minOccurs="0" name="RegisterRecordsDeletion" type="xs:string" />
                    <xs:element minOccurs="0" name="RegisterRecordsWritingOnPost" type="xs:string" />
                    <xs:element minOccurs="0" name="SequenceFilling" type="xs:string" />
                    <xs:element minOccurs="0" name="RegisterRecords">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:Item" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="PostInPrivilegedMode" type="xs:boolean" />
                    <xs:element minOccurs="0" name="UnpostInPrivilegedMode" type="xs:boolean" />
                    <xs:element minOccurs="0" name="IncludeHelpInContents" type="xs:boolean" />
                    <xs:element minOccurs="0" name="DataLockFields" />
                    <xs:element minOccurs="0" name="DataLockControlMode" type="xs:string" />
                    <xs:element minOccurs="0" name="FullTextSearch" type="xs:string" />
                    <xs:element minOccurs="0" name="ObjectPresentation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" ref="v8:item" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ExtendedObjectPresentation" />
                    <xs:element minOccurs="0" name="ListPresentation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" ref="v8:item" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ExtendedListPresentation" />
                    <xs:element minOccurs="0" name="Explanation">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" ref="v8:item" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="ChoiceHistoryOnInput" type="xs:string" />
                    <xs:element minOccurs="0" name="DataHistory" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="ChildObjects">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Properties">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Name" type="xs:string" />
                                <xs:element minOccurs="0" name="Synonym">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" ref="v8:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Comment" type="xs:string" />
                                <xs:element minOccurs="0" name="Type">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" maxOccurs="unbounded" ref="v8:Type" />
                                      <xs:element minOccurs="0" ref="v8:DateQualifiers" />
                                      <xs:element minOccurs="0" ref="v8:StringQualifiers" />
                                      <xs:element minOccurs="0" ref="v8:NumberQualifiers" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="PasswordMode" type="xs:boolean" />
                                <xs:element minOccurs="0" name="Format">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element minOccurs="0" ref="v8:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="EditFormat">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element minOccurs="0" ref="v8:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="ToolTip">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element minOccurs="0" ref="v8:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="MarkNegatives" type="xs:boolean" />
                                <xs:element minOccurs="0" name="Mask" />
                                <xs:element minOccurs="0" name="MultiLine" type="xs:boolean" />
                                <xs:element minOccurs="0" name="ExtendedEdit" type="xs:boolean" />
                                <xs:element minOccurs="0" name="MinValue" nillable="true" />
                                <xs:element minOccurs="0" name="MaxValue" nillable="true" />
                                <xs:element minOccurs="0" name="FillFromFillingValue" type="xs:boolean" />
                                <xs:element minOccurs="0" name="FillValue" nillable="true" type="xs:string" />
                                <xs:element minOccurs="0" name="FillChecking" type="xs:string" />
                                <xs:element minOccurs="0" name="ChoiceFoldersAndItems" type="xs:string" />
                                <xs:element minOccurs="0" name="ChoiceParameterLinks">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:Link" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="ChoiceParameters">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element minOccurs="0" maxOccurs="unbounded" ref="app:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="QuickChoice" type="xs:string" />
                                <xs:element minOccurs="0" name="CreateOnInput" type="xs:string" />
                                <xs:element minOccurs="0" name="ChoiceForm" />
                                <xs:element minOccurs="0" name="LinkByType" />
                                <xs:element minOccurs="0" name="ChoiceHistoryOnInput" type="xs:string" />
                                <xs:element minOccurs="0" name="Indexing" type="xs:string" />
                                <xs:element minOccurs="0" name="FullTextSearch" type="xs:string" />
                                <xs:element minOccurs="0" name="DataHistory" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="uuid" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Form" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="TabularSection">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="InternalInfo">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:GeneratedType" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="Properties">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Name" type="xs:string" />
                                <xs:element minOccurs="0" name="Synonym">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" ref="v8:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Comment" />
                                <xs:element minOccurs="0" name="ToolTip">
                                  <xs:complexType>
                                    <xs:sequence minOccurs="0">
                                      <xs:element minOccurs="0" ref="v8:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="FillChecking" type="xs:string" />
                                <xs:element minOccurs="0" name="StandardAttributes">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" ref="xr:StandardAttribute" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="ChildObjects">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" name="Properties">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element minOccurs="0" name="Name" type="xs:string" />
                                            <xs:element minOccurs="0" name="Synonym">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" ref="v8:item" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="Comment" />
                                            <xs:element minOccurs="0" name="Type">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element minOccurs="0" ref="v8:TypeSet" />
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="v8:Type" />
                                                  <xs:element minOccurs="0" ref="v8:StringQualifiers" />
                                                  <xs:element minOccurs="0" ref="v8:NumberQualifiers" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="PasswordMode" type="xs:boolean" />
                                            <xs:element minOccurs="0" name="Format" />
                                            <xs:element minOccurs="0" name="EditFormat" />
                                            <xs:element minOccurs="0" name="ToolTip">
                                              <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                  <xs:element minOccurs="0" ref="v8:item" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="MarkNegatives" type="xs:boolean" />
                                            <xs:element minOccurs="0" name="Mask" />
                                            <xs:element minOccurs="0" name="MultiLine" type="xs:boolean" />
                                            <xs:element minOccurs="0" name="ExtendedEdit" type="xs:boolean" />
                                            <xs:element minOccurs="0" name="MinValue" nillable="true" />
                                            <xs:element minOccurs="0" name="MaxValue" nillable="true" />
                                            <xs:element minOccurs="0" name="FillChecking" type="xs:string" />
                                            <xs:element minOccurs="0" name="ChoiceFoldersAndItems" type="xs:string" />
                                            <xs:element minOccurs="0" name="ChoiceParameterLinks">
                                              <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="xr:Link" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="ChoiceParameters">
                                              <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                  <xs:element minOccurs="0" ref="app:item" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="QuickChoice" type="xs:string" />
                                            <xs:element minOccurs="0" name="CreateOnInput" type="xs:string" />
                                            <xs:element minOccurs="0" name="ChoiceForm" />
                                            <xs:element minOccurs="0" name="LinkByType">
                                              <xs:complexType>
                                                <xs:sequence minOccurs="0">
                                                  <xs:element minOccurs="0" ref="xr:DataPath" />
                                                  <xs:element minOccurs="0" ref="xr:LinkItem" />
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element minOccurs="0" name="ChoiceHistoryOnInput" type="xs:string" />
                                            <xs:element minOccurs="0" name="Indexing" type="xs:string" />
                                            <xs:element minOccurs="0" name="FullTextSearch" type="xs:string" />
                                            <xs:element minOccurs="0" name="DataHistory" type="xs:string" />
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="uuid" type="xs:string" use="optional" />
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="uuid" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Template" type="xs:string" />
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Command">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="Properties">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element minOccurs="0" name="Name" type="xs:string" />
                                <xs:element minOccurs="0" name="Synonym">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element minOccurs="0" ref="v8:item" />
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element minOccurs="0" name="Comment" />
                                <xs:element minOccurs="0" name="Group" type="xs:string" />
                                <xs:element minOccurs="0" name="CommandParameterType" />
                                <xs:element minOccurs="0" name="ParameterUseMode" type="xs:string" />
                                <xs:element minOccurs="0" name="ModifiesData" type="xs:boolean" />
                                <xs:element minOccurs="0" name="Representation" type="xs:string" />
                                <xs:element minOccurs="0" name="ToolTip" />
                                <xs:element minOccurs="0" name="Picture" />
                                <xs:element minOccurs="0" name="Shortcut" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="uuid" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="uuid" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="version" type="xs:decimal" use="optional" />
    </xs:complexType>
  </xs:element>
</xs:schema>