src/test/resources/metadata/original/Documents/ПоступлениеТоваровУслуг1.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Studio 2019 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://v8.1c.ru/8.3/xcf/readable" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://v8.1c.ru/8.3/xcf/readable" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="file:///F:/DATA/Develop/Project/Sonar/metadata/src/Documents/%D0%9F%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D0%B5%D0%A2%D0%BE%D0%B2%D0%B0%D1%80%D0%BE%D0%B2%D0%A3%D1%81%D0%BB%D1%83%D0%B32.xsd" namespace="http://v8.1c.ru/8.1/data/core" />
  <xs:element name="GeneratedType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TypeId" type="xs:string" />
        <xs:element minOccurs="0" name="ValueId" type="xs:string" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="optional" />
      <xs:attribute name="category" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="StandardAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkByType" />
        <xs:element minOccurs="0" name="FillChecking" type="xs:string" />
        <xs:element minOccurs="0" name="MultiLine" type="xs:boolean" />
        <xs:element minOccurs="0" name="FillFromFillingValue" type="xs:boolean" />
        <xs:element minOccurs="0" name="CreateOnInput" type="xs:string" />
        <xs:element minOccurs="0" name="MaxValue" nillable="true" />
        <xs:element minOccurs="0" name="ToolTip">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element minOccurs="0" xmlns:q1="http://v8.1c.ru/8.1/data/core" ref="q1:item" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="ExtendedEdit" type="xs:boolean" />
        <xs:element minOccurs="0" name="Format" />
        <xs:element minOccurs="0" name="ChoiceForm" />
        <xs:element minOccurs="0" name="QuickChoice" type="xs:string" />
        <xs:element minOccurs="0" name="ChoiceHistoryOnInput" type="xs:string" />
        <xs:element minOccurs="0" name="EditFormat" />
        <xs:element minOccurs="0" name="PasswordMode" type="xs:boolean" />
        <xs:element minOccurs="0" name="DataHistory" type="xs:string" />
        <xs:element minOccurs="0" name="MarkNegatives" type="xs:boolean" />
        <xs:element minOccurs="0" name="MinValue" nillable="true" />
        <xs:element minOccurs="0" name="Synonym" />
        <xs:element minOccurs="0" name="Comment" />
        <xs:element minOccurs="0" name="FullTextSearch" type="xs:string" />
        <xs:element minOccurs="0" name="ChoiceParameterLinks" />
        <xs:element minOccurs="0" name="FillValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Mask" />
        <xs:element minOccurs="0" name="ChoiceParameters" />
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="optional" />
    </xs:complexType>
  </xs:element>
  <xs:element name="Characteristic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CharacteristicTypes">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="KeyField" type="xs:string" />
              <xs:element minOccurs="0" name="TypesFilterField" type="xs:string" />
              <xs:element minOccurs="0" name="TypesFilterValue" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="from" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="CharacteristicValues">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="ObjectField" type="xs:string" />
              <xs:element minOccurs="0" name="TypeField" type="xs:string" />
              <xs:element minOccurs="0" name="ValueField" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="from" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Item" type="xs:string" />
  <xs:element name="Field" type="xs:string" />
  <xs:element name="Link">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" type="xs:string" />
        <xs:element minOccurs="0" name="DataPath" type="xs:string" />
        <xs:element minOccurs="0" name="ValueChange" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DataPath" type="xs:string" />
  <xs:element name="LinkItem" type="xs:unsignedByte" />
</xs:schema>